<div class="page-header">
  <h1>
    <span class="material-icons-outlined" style="font-size: 1.5rem; vertical-align: -4px; color: var(--primary);">edit</span>
    Edit Template
  </h1>
</div>

<%= form_with url: note_template_path(@template["id"]), method: :patch do |f| %>
  <%= render "form", f: f %>
<% end %>
