<div class="page-header">
  <h1>New Tag</h1>
</div>

<div class="card">
  <%= render "form", tag: @tag,
             form_url: tags_path, form_method: :post,
             submit_label: "Create Tag", cancel_path: tags_path %>
</div>
