<div class="page-header">
  <h1>Edit Trade</h1>
</div>

<div class="card">
  <%= render "form", trade: @trade, tags: @tags,
             form_url: trade_path(@trade["id"]), form_method: :patch,
             submit_label: "Update Trade", cancel_path: trade_path(@trade["id"]) %>
</div>
